/* Major Colors Variables */

$color-primary: #FECB2E !default;
$color-secondary: #43425D !default;

// Color White Variables
$color-white: #ffffff !default;

// Color Black Variables
$color-black: #000 !default;

// Color Gray Variables
$color-gray: #CED6D5 !default;

// Color Green Variables
$color-green: #012A25 !default;









