.u-mh {
  margin: 0 0.5em;
}

.u-mr {
  margin-right: 0.5em;
}

.u-ml {
  margin-left: 0.5em;
}

/// Gives separation between elements vertically
/// @group Utilities

.u-mv {
  margin: 0.5em 0;
}

.u-mt {
  margin-top: 25px;
}

.u-mb {
  margin-bottom: 25px;
}

